a {
	text-decoration: none;
	
}


.navbar a {
	color: white;
}

.navbar a:visited {
  color: white;
}

.navbar a:hover {
  color: #324284;
  
 }
 
body {
	background: url("img/flr.png");
	
}

img, iframe {
	display: block;
	margin: 20px auto;
	
}

p {
	text-align: justify;
	font-family: "serif";
}

li {
	margin: 10px 0;
}

li a {
	color: #324284;
}

li a:hover {
  color: white;
  
 }

.navbar li {
	display: inline;
	margin-right: 20px;
	color: white;
}

h2 {
	font-family: "sans serif";
	color: #E4E4E4;
	
}

h4 {
	font-weight: lighter;
	font-family: "sans serif";
}

.brand {
	font-family: "sans serif";
	font-weight: lighter;
	font-size: 30px;
	color: white;
	
	
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 2px;
  color: white;
  	position: sticky;
	margin-bottom: 10px;
	max-width: 100%;
	background: #151515;
	border-left: 24px solid #ffffff;
	font-family: "sans serif";
	box-shadow: 2px 0px 2px 2px rgba(0, 0, 0, .6);
}


.container {
	max-width: 700px;
	box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, .6);
	margin: 20px auto;
	padding: 20px;
	background: #141414;
	border-radius: 8px;
	color: white;
}

.pages {
	font-family: "sans serif";
	background: #B3B3B3;
	text-align: center;
	border-top: 1px solid black;
	padding: 4px;
	border-radius: 2px;
	font-size: 14px;
	margin: 20px 30%;
	
	
}

.pages a{
	color: black;
}

.pages a:visited{
	color: black;
}

a:hover {
  color: #324284;
  
 }
